@import url(./styles.css);

.contactUs, .contactUs:hover{
    color: var(--fivehun);
    pointer-events: none;
}
body{
    background-color: #FFFDFA;
}


/* contact us form */
#contact_us_form{
    margin-top: 45px;
}
.form_input{
    width: 100%;
    padding: 8px;
    border: 2px solid #E1E1E1;
    border-radius: 5px;
    outline: none;
    font-size: .95rem;
    background-color: white !important;
}
#submit_btn{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--fivehun);
    color: white;
    margin-top: 15px;
    min-width: 100px;
}


/* address */
.sub_title{
    font-size: .85rem;
    opacity: .5;
}
.content{
    font-size: 1.05rem;
}
.social_media_wrapper{
    background-color: white;
    padding: 8px;
    border-radius: 50%;
}
.social_media_wrapper a img{
    width: 25px;
    height: 25px;
}